# Logs
logs
*.log
npm-debug.log*
# Node.js
client/node_modules/
client/dist
# Python
__pycache__
env
server/env
server/*.json
!server/left_sample.json
!server/right_sample.json
*.pyc
# macOs
.DS_Store
